* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;
}

body {
    padding: 16px;
    background-color: #f5efe9;    
}

h1 {
    padding: 16px 0;
    color: #3b2312;
}


h2 {
    padding: 24px 0 8px 0;
    color: #8a3c05;
}

h3 {
    padding: 16px 0 4px 0;
}

p {
    padding-bottom: 8px;
}

nav ul {
    list-style: none;
    display: flex; 
    align-items: center;
    padding: 8px 0;
}


nav li {
    margin-right: 20px;
}

main ul {
    padding-left: 20px;
}

@media (min-width: 768px) {
    body{
        padding: 24px;
    }
}


@media (min-width: 1024px) {
    body{
        padding: 32px;
    }
}