* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

header,
main,
footer {
    max-width: 900px;
    margin: 0 auto;
}

body {
    padding: 16px;
    background-color: #f5efe9;    
}

h1 {
    padding: 16px 0;
    color: #3b2312;
}


h2 {
    padding: 24px 0 8px 0;
    color: #8a3c05;
}

p {
    padding-bottom: 8px;
}

nav ul {
    list-style: none;
    display: flex; 
    align-items: center
    padding 8px 0;
}


nav li {
    margin-right: 20px
}